<?xml version="1.0" encoding="utf-8"?><!--
  ~ Copyright 2018-2020 Andrius Baruckis www.baruckis.com | kriptofolio.app
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Apps that target Android 16 get predictive back by default, and with it the platform
         stops calling onBackPressed and stops dispatching KEYCODE_BACK. This app overrides
         neither, but AppCompat uses both: back is how the contextual action mode is cancelled
         and how an expanded search field is collapsed. The versions of AppCompat and Activity
         this app is on predate OnBackInvokedCallback, so both would fall through to finishing
         the activity instead. This documented opt-out keeps the old dispatch until the back
         handling is migrated, which belongs with the AndroidX upgrade in 2.0. -->
    <application
        android:name="com.baruckis.kriptofolio.App"
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="tiramisu">

        <!-- The main/home activity (it has no parent activity). -->
        <activity
            android:name="com.baruckis.kriptofolio.ui.mainlist.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>

        </activity>

        <!-- A child of the main activity. -->
        <activity
            android:name="com.baruckis.kriptofolio.ui.addsearchlist.AddSearchActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.baruckis.kriptofolio.ui.mainlist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <!-- Parent activity meta-data to support 4.0 and lower. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.baruckis.kriptofolio.ui.mainlist.MainActivity" />

        </activity>

        <!-- A child of the main activity. -->
        <activity
            android:name="com.baruckis.kriptofolio.ui.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.baruckis.kriptofolio.ui.mainlist.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">

            <!-- Parent activity meta-data to support 4.0 and lower. -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.baruckis.kriptofolio.ui.mainlist.MainActivity" />

        </activity>

    </application>

</manifest>